<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <ion-img style="width: 100%; height: 80px;" [src]="img"></ion-img>
    </ion-label>
  </ion-title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <div class ="ion-padding-vertical" >
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Ingrese credenciales</h1>
        </ion-label></ion-card-title>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Nombre de usuario:</ion-label>
            <ion-input type="text" [(ngModel)]="dato" minlength="2"></ion-input>
          </ion-item> 
        </ion-card-content>
        
  
    </ion-card>
  </div>

  <ion-footer> 
    <ion-toolbar > 
      <section class="full-width">
        <ion-button id="play" expand="block"  (click)="ingresa()" (click)="mensaje()">Recuperar</ion-button>

      </section>
    </ion-toolbar> 
  </ion-footer>


</ion-content>