<ion-header>
  <ion-toolbar>
    <ion-title>home_alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="ion-padding-vertical" >
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Ingrese credenciales</h1>
        </ion-label></ion-card-title>
        <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de usuario:</ion-label>
          <ion-input type="text" [(ngModel)]="dato" minlength="2"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>  
        </ion-card-content>
        
  
    </ion-card>
  </div>
</ion-content>
