<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>Inicio_docente</ion-title>
    <br>
    <ion-card-content>
      <ion-item lines none>
        <ion-label>Bienvenido: {{dato}}</ion-label>
      </ion-item>
    </ion-card-content>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-navbar>
      <br>
    <ion-title>QR CODE</ion-title>
    <br>
    </ion-navbar>
    </ion-header>
    <ion-content padding>
    <ion-input type="text" placeholder="your qr text" [(ngModel)]="qrdata"></ion-input>
    <button ion-button full color="secondary" (click)="create()">Generate</button>
    <button ion-button full color="secondary" (click)="clear()">Clear</button>
      <ion-card-content>
        <ion-item lines none>
          <ion-label>Bienvenido: {{dato}}</ion-label>
        </ion-item>
      </ion-card-content>
     <ion-card *ngIf="createCode">
      <ngx-qrcode [qrc-value]="createCode"></ngx-qrcode>
       <ion-card-content>
       Your QR Code : {{createCode}}
       </ion-card-content>
      </ion-card>
      <ion-button id="play" expand="block"(click)="ingresa3()">Volver</ion-button>

    </ion-content>
</ion-content>
