<ion-header>
  <ion-toolbar>
    <ion-title>Inicio_alumno</ion-title>
    <ion-card-content>
      <ion-item lines none>
        <ion-label>Bienvenido: {{dato}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="QRLector">
        <ion-icon name="camera-outline">QRLector</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Perfil">
        <ion-icon name="happy-outline">Perfil</ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <br>
  <br>
  <ion-router-outlet></ion-router-outlet>
  <br>
  <ion-button id="play" expand="block"(click)="ingresa3()">Volver</ion-button>
</ion-content>
