<ion-header>
  <ion-toolbar>
    <ion-title>Inicio_alumno</ion-title>
    <ion-card-content>
      <ion-item lines none>
        <ion-label>Bienvenido: {{dato}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="QRLector" (ionChange)="segmentChanged($event)"> 
      <ion-segment-button value="QRLector">
        <ion-icon name="camera-outline">QRLector</ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Perfil">
        <ion-icon name="happy-outline">Perfil</ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <br>
  <br>
  <ion-router-outlet></ion-router-outlet>
  <ion-grid>
    <ion-row style="position:fixed; bottom:30px;">
      <ion-col>
                <ion-button vertical="bottom" id="play" expand="block"(click)="ingresa3()">Log out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <br><br><br><br><br><br>
  <ion-card>
      <ion-list *ngFor="let item of listaAlumnos">
          <button ion-item *ngIf="item.strNombre==nombre">
              {{item.strNombre}}
              {{item.strContrasena}}
              {{item.strUser.nombre}}
          </button>
      </ion-list>
    </ion-card>-->
    <br><br>
    <ion-card style="floating:bottom;">
      <ion-toolbar>
        <ion-title size="small">ASISTENCIA</ion-title>
      </ion-toolbar>
      <p>Fecha-Hora-Sección-Asignatura-Docente</p>
      <ion-list *ngFor="let item of listaAsistencia">
          <button ion-item *ngIf="item.strNom==nombre">
              {{item.strFecha}} | 
              {{item.strHora}} | 
              {{item.strClase.seccion}} | 
              {{item.strClase.asignatura}} | 
              {{item.strClase.docente}}
          </button>
      </ion-list>
    </ion-card>
</ion-content>
